*.suo
Parser/Parser/bin/Debug/Parser.vshost.exe
/Parser/Parser/obj/Debug/Parser.csprojResolveAssemblyReference.cache
*.pdb
/Parser/Parser/obj/Debug
/Parser/Parser/bin/Debug
/Parser/UnitTests/obj/Debug
/Parser/UnitTests/bin/Debug
/Parser/Parser.sln.DotSettings.user
